.btn-primary{
    color:white;
    background:linear-gradient(45deg,#CC59D2,#00509D);
    font-weight:bold;
    text-transform: uppercase;
    border:2px solid rgba(255,255,255,.2);
}

.btn-secondary{
    color:white;
    background:rgba(255,255,255,.1);
    font-weight:bold;
    text-transform: uppercase;
    border:2px solid rgba(255,255,255,.2);
}